<div class ="container">
  <h1 class="fas fa-utensils" > My list of cocktails</h1>
  <%= button_to "add a new cocktail", new_cocktail_path, class: "btn btn-danger", method: "get"%>
  <br>
  <% @cocktails.each do |cocktail| %>
    <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
  <% end %>
</div>

